<div class="jumbotron">
  <div class="container">
    <h1>Create a tip!</h1>
    <p>Know of a great tip for saving electricity? Post the tip and get points every time someone takes advantage of your tip!</p>
  </div>
</div>

<div class="container">
<div>
<dl>
  <dt>It's quick and easy!  All you have to do is:</dt>
    <dd>1. Describe your tip in the box below</dd>
    <dd>2. Answer a few questions to the best of your ability</dd>
    <dd>3. If you want, you can add a picture to help describe your tip</dd>
    <dd>4. Submit your tip for the world to see</dd>
    <dd>5. Receive a point every time someone uses your tip</dd>
</dl>
</div>

<div>
<textarea class="form-control" rows="3">Write your tip here</textarea>
</div>
<br>

<div>
  <label class="radio-inline">
    <input type="radio" name="optionsRadios" id=optionsRadios1" value="option1">
    Free
  </label>

  <label class="radio-inline">
    <input type="radio" name="optionsRadios" id=optionsRadios2" value="option2">
    Cheap
  </label>

   <label class="radio-inline">
    <input type="radio" name="optionsRadios" id=optionsRadios2" value="option2">
    Costly
  </label>
</div>
<br>

<div>
  <label class="radio-inline">
    <input type="radio" name="optionsRadios2" id=optionsRadios1" value="option1">
    Small energy savings
  </label>

  <label class="radio-inline">
    <input type="radio" name="optionsRadios2" id=optionsRadios2" value="option2">
    Noticeable energy savings
  </label>

   <label class="radio-inline">
    <input type="radio" name="optionsRadios2" id=optionsRadios2" value="option3">
    Huge energy savings
  </label>
</div>
<br>

<div class>
<select>
  <option value="garage">Garage</option>
  <option value="kitchen">Kitchen</option>
  <option value="family room">Family room</option>
  <option value="bedroom">Bedroom</option>
  <option value="basement">Basement</option>
  <option value="pool">Pool</option>
  <option value="dining room">Dining room</option>
  <option value="laundry room">Laundry room</option>
  <option value="whole house">Whole house</option>
</select>
</div>
<br>

<div class>
<input type="file">Upload a picture</input>
</div>
<br>

<div class>
<button type="button" class="btn btn-primary">Submit</button>
</div>
</div>
