<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="col-md-3" align="left" id="logo">
        Energy Saver
      </div>
      <div class="col-md-7">
        <ul class="nav nav-tabs" id="tabs-position">
          <li><a href="#">Create New Tip</a></li>
          <li><a href="#">My To-Do List</a></li>
        </ul>        
      </div>      
      <div class="col-md-2" align="right">
                <a href="#">Points <span class="badge">0</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary navbar-btn">Sign In</button>
      </div>  
    </div>
  </nav>

  <div class="container" id="white-box">
    <br>  
    <div class="row">
      <div class="col-sm-6 col-md-12">        
        <div class="jumbotron">
          <div class="container">
            <h2>Your guide to easy savings around the house.</h2>
            <p>Did you know that replacing your air filter every 25 days can save you $500 in energy costs a year? Energy Saver is a community to share simple tips and tricks to save cash. Sign up and earn points that you can redeem for gift cards and more!</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" id="grey">
          <img data-src="holder.js/300x200" alt="..." src="http://farm6.staticflickr.com/5454/6944884380_1c77214dd2.jpg">
          <div class="caption">
            <h3>Replace Old Fan Blades</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">To-Do List</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" id="grey">
          <img data-src="holder.js/300x200" alt="..." src="http://farm7.staticflickr.com/6105/6262353768_6722d51268_z.jpg">
          <div class="caption">
            <h3>Run Cold Water</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">To-Do List</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" id="grey">
          <img data-src="holder.js/300x200" alt="..." src="http://farm2.staticflickr.com/1238/1372635204_8a7ad4eb4e_o.jpg">
          <div class="caption">
            <h3>Use Green Power Strips</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">To-Do List</a></p>
          </div>
        </div>
      </div>
    </div>

    <br>

    

    <div class="row">
      <div class="col-sm-6 col-md-12">
        <nav class="navbar navbar-default" id="red-box" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="red-box" href="#">Trending Tips</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="red-box" data-toggle="dropdown">Sort <b class="caret" id="red-box"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Sort by most popular</a></li>
                  <li><a href="#">Sort by energy rating</a></li>
                  <li><a href="#">Sort from most expensive to least expensive</a></li>
                  <li><a href="#">Sort from least expense to most expensive</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>

    <!-- After this line goes the list of tips -->

    <div class="row">
      <div class="col-md-12">
      <div class="vinayak-box">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://farm7.staticflickr.com/6105/6262353768_6722d51268_s.jpg" alt="...">
          </a>
          <div class="media-body">
            <div class="row">
              <div class="col-md-6" align="left">
                <h4 class="media-heading">Helpful Energy Tip</h4>
              </div>
              <div class="col-md-6" align="right" id="bottom">
                <a href="#" class="btn btn-primary btn-sm">To-Do List</a>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12" align="left">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      <div class="vinayak-box">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://farm7.staticflickr.com/6105/6262353768_6722d51268_s.jpg" alt="...">
          </a>
          <div class="media-body">
            <div class="row">
              <div class="col-md-6" align="left">
                <h4 class="media-heading">Helpful Energy Tip</h4>
              </div>
              <div class="col-md-6" align="right" id="bottom">
                <a href="#" class="btn btn-primary btn-sm">To-Do List</a>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12" align="left">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="row">
      <div class="col-md-12">
      <div class="vinayak-box">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://farm7.staticflickr.com/6105/6262353768_6722d51268_s.jpg" alt="...">
          </a>
          <div class="media-body">
            <div class="row">
              <div class="col-md-6" align="left">
                <h4 class="media-heading">Helpful Energy Tip</h4>
              </div>
              <div class="col-md-6" align="right" id="bottom">
                <a href="#" class="btn btn-primary btn-sm">To-Do List</a>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12" align="left">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="row">
      <div class="col-md-12">
      <div class="vinayak-box">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://farm7.staticflickr.com/6105/6262353768_6722d51268_s.jpg" alt="...">
          </a>
          <div class="media-body">
            <div class="row">
              <div class="col-md-6" align="left">
                <h4 class="media-heading">Helpful Energy Tip</h4>
              </div>
              <div class="col-md-6" align="right" id="bottom">
                <a href="#" class="btn btn-primary btn-sm">To-Do List</a>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12" align="left">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>

  <br>
  <nav class="navbar navbar-bottom" role="navigation" id="white-footer">
    <div class="container">
      <div class="col-md-12" align="left">
        <p></p>
        Energy Saver &copy; All Rights Reserved. 
      </div>
    </div>
  </nav>