<!DOCTYPE html>
<html>
<head>
  <title>EnergySaver</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playball">
  <style>
    #logo {
      font-family: 'Playball', serif;
      font-size: 40px;
      /*color: #FFFFFF;*/
    }

    .vinayak-box{
      padding: 7px;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      background-color: #f8f8f8;
    }

    #green-box{
      background-color: #A8D800;  
    }

    #red-box{
      background-color: #E44444;
      color: #FFFFFF;
      border-radius: 8px;
    }

    #white-box{
      margin-top:75px;
      background-color: #FFFFFF;
      border-radius: 8px;
      border: 1px solid #cccccc;  
    }

    #grey{
      background-color: #f8f8f8;
    }

    #right{
      float: right;
    }

    #tabs-position{
      margin-top:16px;
    }

    #white-footer{
      background-color: #FFFFFF;
      height:40px;
      margin-top:5px;
      margin: 0 auto -20px;
    }

    body{
      
      background-color: #A8D800;
    }
  </style>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
